@import url(WebFonts/css/fontiran.css);
// new colors
$mirage: #1c1a20;
$heathered-gray: #988c7d;
$deep-carmine-pink: #f22b39;
$martini: #b2a2a2;
$pampas: #f4f1f0;
// font families
$FONT_FAMILY: IRANYekan;
$FONT_FAMILY_FANUM: IRANYekan;
// numbers
$GLOBAL_BORDER_RADIUS: 12px;
body {
    margin:0;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
.main-head-bar {
    width:100%;
    background: $pampas; 
    border-bottom: 1px solid $martini;
    padding: 10px 10px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    direction: rtl;
    .head-icon-resp {
        color: $mirage;
        font-size: 1.2rem;
        cursor: pointer;
        padding-left:10px;
        padding-right:10px;
    }
    .logo {
        font-family: $FONT_FAMILY;
        font-size: 1.3rem;
        padding-top:5px;
        font-weight: bold;
        text-align: center;
        color: $mirage;
        letter-spacing: 2px;
    }
    .logo-resp {
        font-family: $FONT_FAMILY;
        font-size: 32px;
        padding-top:5px;
        font-weight: bold;
        text-align: center;
        color: $mirage;
    }
    .head-right-resp {
        width: 25%;
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .head-left-resp {
        width: 25%;
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .head-right {
        min-width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        .search-box {
            width:60%;
            position: relative;
            border: 1px solid $martini;
            background: white;
            padding:9px 15px;
            border-radius: 100px;
            .search-icon {
                position: absolute;
                left:15px;
                top:30%;
                color: $heathered-gray;
                font-size: 1rem;
            }
            .search-input {
                width: 100%;
                border:0;
                outline: 0;
                font-family: $FONT_FAMILY;
                font-size: 12px;
                color: $martini;
            }
        }
    }
    .head-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        min-width: 40%;
        li {
            list-style: none;
            background: white;
            padding: 9px;
            border-radius: 100px;
            color: $mirage;
            font-family: $FONT_FAMILY;
            font-size: 13px;
            margin-right: 10px;
            cursor: pointer;
        }
        .head-icon {
            font-size: 13px;
        }
        .basket-badge {
            background: $deep-carmine-pink;
            padding:5px 10px 2px 10px;
            color:white;
            font-weight: bold;
            display: inline-block;
            border-radius: 100px;
        }
        .basket-title {
            padding-left:25px;
            padding-right: 10px;
            color:$mirage;
            display: inline-block;
            border-radius: 100px;
        }
    }
}
.resp_display_block {display: none;}
// .resp_display_none {display: none;}
@media only screen and (max-width: 950px) {
    .main-head-bar {
        position: fixed;
        z-index: 111111111;
        top: 0;
        padding: 4px 10px;
        height: 50px;
        .logo-resp{ width: 50%;}
        .logo {display: none;}
        .head-left {display:none;}
        .head-right {display:none;} 
        .head-right-resp {display: flex;}
        .head-left-resp {display: flex;}
    }
}
.search-bar-resp {
    width: 100%;
    border-bottom: 1px solid $mirage;
    // padding: 10px;
    background: white;
    margin-top: 50px;
    .search-icon {
        width: 40px;
        height: 100%;
        text-align: center;
        background: $mirage;
        color: white;
        font-size: 1.2rem;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
    input {
        width: calc(100% - 44px);
        border: 0;
        text-align: right;
        font-size: .7rem;
        font-family: $FONT_FAMILY;
        padding-right: 10px;
        float: right;
        padding-top: 10px;
        outline: none;
        height: 100%;
    }
}
.main-menu {
    width: 100%;
    background: $heathered-gray;
    direction: rtl;
    font-family: $FONT_FAMILY;
    .main-line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        li {
            list-style: none;
            font-size: 13px;
            padding:10px 15px;
            position: relative;
            cursor: pointer;
            color: $pampas;
            &:hover {
                // color: $deep-carmine-pink;
                font-weight: bold;
            }
            .li-circle {
                position: absolute;
                width: 5px;
                height: 5px;
                background: $deep-carmine-pink;
                border-radius: 10px;
                bottom:-2.5px;
                right: calc(50% - 2.5px);
                display: none;
                &.diactive {
                    visibility: hidden;
                    opacity: 0;
                }
                &.active {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .sub-box {
        // visibility: hidden;
        display: flex;
        position: absolute;
        z-index: 111111111111;
        background:rgba(255,255,255,.97);
        // opacity: 0;
        // padding-top: 20px;
        // padding-bottom: 20px;
        // min-height: 180px;
        transition: ease-out .2s all;
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: $martini;
        border-top: 1px solid $martini;
        width: 100%;
        height: 0px;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        .sub-title {
            font-size: 13px;
            text-align: right;
            padding-right: 20px;
            i {
                padding-left: 5px;
            }
        }
        .sub-list {
            padding-right: 20px;
            padding-left:20px;
            display: inline-grid;
            li {
                list-style: none;
                font-size: 13px;
                padding-top:2px;
                padding-bottom:2px;
                cursor: pointer;
                transition: ease all .2s;
                i {
                    font-size: 8px;
                    padding-left: 3px;
                }
                &:hover {
                    color:$deep-carmine-pink;
                }
            }
        }
        .sub-brands {
            flex:1;
            height:100%;

        }
        .sub-categories {
            flex:1;
            height:100%;
        }
    }
}
.main-slider {
    height: auto;
    width: calc(100%);
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .slider-image {
        // position: absolute;
        outline: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // padding-left: 10px;
        // padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-content: center;
        img {
            border-radius: 10px;
            object-fit: cover;
            width: 100%;
            // height: 100%;
        }
    }
    .slider-arrow {
        position: absolute;
        font-size: 1.8rem;
        cursor: pointer;
        color: $pampas;
        top:calc(50% - 14px);
        z-index: 11111;
        transition: ease all .3s;
        transform: scale(1);
        text-shadow: 0 0 4px rgba(0,0,0,.15);
        &:hover {
            color: $deep-carmine-pink; 
            text-shadow: 0;
            transform: scale(1.2);
        }
        &:active{
            transform: scale(1.02);
        }
    }
}
@media only screen and (max-width: 950px) {
    .main-slider {
        height: 180px;
        position: relative;
        .slider-image { 
            position: absolute;
            // background: red;
            height: 100%;
            img {
                height: 180px;
                object-fit: cover;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
.title-line-bar {
    width: 100%;
    padding:30px 0 25px 0;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    .title {
        font-family: $FONT_FAMILY;
        font-size: 15px;
        text-align: center;
        color: black;
        padding-right: 10px;
        padding-left: 10px;
    }
    .line {
        width: 30px;
        height:1px;
        background: $martini;
    }
}
.simple-list {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    // min-height: 320px;
    .product-list-arrow {
        background: $pampas;
        border-radius: 8px;
        // height:100%;
        // width:50px;
        z-index: 111;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px; 
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        color: $martini;
        font-size: 20px;
        position: absolute;
        height:calc(100% - 20px);
        cursor: pointer;
        transform: scale(1);
        transition: ease all .3s;
        &:hover {
            // transform: scale(1.04);
            background: $deep-carmine-pink;
            color: white;
        }
        &:active{
            transform: scale(.97);
        }
    }
    .inner-product-list {
        width: 100%;
        direction: rtl;
        margin-left: auto;
        margin-right: auto;
        // display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: stretch;
        align-content: stretch;
        .product-container {
            padding: 10px;
            // flex: 1;
            box-sizing: border-box;
            outline: 0;
        }
        .product-item {
            // width: 24%;
            // min-height: 100%;
            // height: auto;
            background-color: white;
            border: .8px solid $pampas;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: baseline;
            align-content: stretch;
            padding: 5px;
            box-sizing: border-box;
            position: relative;
            direction: rtl;
            overflow: hidden;
            cursor: pointer;
            .title-box {
                background: $pampas;
                width: calc(100% - 10px);
                border-radius: 7px;
                min-height: 40px;
                position: absolute;
                bottom:5px;
                padding:12px;
                box-sizing: border-box;
                z-index:11111;
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all .5s;
                .product-title {
                    font-family: $FONT_FAMILY_FANUM;
                    font-size: .7rem;
                    text-align: center;
                    font-weight: 400;
                }
                .product-price {
                    font-family: $FONT_FAMILY_FANUM;
                    font-size: .8rem;
                    text-align: center;
                    color: $deep-carmine-pink;
                    font-weight: 600;
                    padding-top:7px;
                }
            }
            .add2cart {
                background: $heathered-gray;
                border-radius: 7px;
                // padding:10px;
                height: 40px;
                box-sizing: border-box;
                width:100%;
                position: absolute;
                z-index:11;
                text-align: center;
                color: white;
                font-family: $FONT_FAMILY;
                font-size: .7rem;
                bottom: 5px;
                width: calc(100% - 10px);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;
                cursor: pointer;
                transition: ease all .25s;
                transform: scale(1);
                &:hover {
                    background: $mirage;
                }
                &:active {
                    transform: scale(.97);
                }
            }
            .discount {
                border-radius: 0 0 0 20px;
                background: $deep-carmine-pink;
                padding:2px 10px 0px 15px;
                box-sizing: border-box;
                color: white;
                line-height: 35px;
                font-family: $FONT_FAMILY_FANUM;
                font-size: .9rem;
                position: absolute;
                top:0;
                right: -100%;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all .7s;
                z-index: 1111;
            }
            .thumb {
                position: relative;
                width: 80%;
                padding-top:calc(100% + 30px);
                img {
                    // height: 100%;
                    transition: linear all .2s;
                    width: 100%;
                    position: absolute;
                    top:10px;
                    right: 0;
                }
            }
            &:hover {
                .title-box {
                    bottom: 50px;
                }
                .discount {
                    right: 0;
                }
                .thumb {
                    img {
                        width: calc(100% - 30px);
                        top:20px;
                        right: 15px;
                    }
                }
            }
        }
    }
}
.special-parts {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    // height: 200px;
    margin-top:30px;
    .special-item {
        width: 49%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        transition: ease-in-out .2s all;
        &:hover {
            box-shadow: 0 5px 12px rgba(40,16,211,.1);
            margin-top: -5px;
            margin-bottom: 5px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }        
    }
}
@media only screen and (max-width: 950px) {
    .special-parts {
        flex-direction: column;
        .special-item {
            width: 100%;
            height: 150px;
            margin-bottom: 10px;
            &:hover {
                margin-top: 0;
            }
        }
    }
}
.main-steps {
    width: calc(100% - 30px);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    margin-top: 60px;
    .step-item {
        width: 28%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        font-family: $FONT_FAMILY;
        padding: 30px;
        box-shadow: 0 5px 12px rgba(40,16,211,0);
        cursor: pointer;
        transition: ease-in-out all .2s;
        border-radius: 8px;
        &:hover {
            box-shadow: 0 5px 12px rgba(40,16,211,.1);
        }
        img {
            width: 20%;
        }
        .step-title {
            padding-top:20px;
            font-size: 1rem;
            font-weight: 500;
            color: black;
            text-align:center;
        }
        .step-desc {
            font-size: .7rem;
            font-weight: 300;
            color: rgba(0,0,0,.9);
            text-align:center;
        }
    }
}
@media only screen and (max-width: 950px) {
    .main-steps {
        flex-direction: column;
        .step-item { 
            width: 100%;
        }
    }
}
.news-letter {
    width: 100%;
    background: $martini;
    border-top: 1px solid $mirage;
    border-bottom: 1px solid $mirage;
    padding:20px 50px;
    box-sizing: border-box;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    direction: rtl;
    margin-top: 50px;
    .letter-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        font-family: $FONT_FAMILY;
        font-size: .9rem;
        color: white;
        .letter-icon {
            color: white;
            font-size: 2rem;
            padding-left:20px;
        }
    }
    .letter-join {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        position: relative;
        .join-btn {
            background: $mirage;
            border-radius: 50px 0 0 50px;
            line-height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
            color: white;
            text-align: center;
            font-family: $FONT_FAMILY;
            font-size: .8rem;
            cursor: pointer;
            transition: ease all .2s;
            &:hover {
                background: $deep-carmine-pink;
                color: white;
            }
        }
        input {
            border-radius: 0 50px 50px 0;
            border: 0;
            background: white;
            text-align: right;
            font-family: $FONT_FAMILY;
            font-size: .8rem;
            height: 40px;
            color: $mirage;
            padding-right: 15px;
            outline: none;
            width: 200px;
        }
    }
}
@media only screen and (max-width: 950px) {
    .news-letter {
        flex-direction: column;
        padding:20px 10px;
        .letter-title { 
            width: 100%;
            padding: 0;
            font-size: .8rem;
            flex-direction: column;
            .letter-icon {
                padding-left: 0;
                padding-bottom: 10px;
                font-size: 2.5rem;
            }
        }
        .letter-join {
            margin-top: 15px;
        }
    }
}
.brands-list {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    // min-height: 220px;
    .product-list-arrow {
        background: $pampas;
        border-radius: 8px;
        // height:100%;
        // width:50px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px; 
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        position: absolute;
        z-index: 111;
        height: calc(100% - 20px);
        top: 0;
        color: $martini;
        font-size: 20px;
        cursor: pointer;
        transform: scale(1);
        transition: ease all .3s;
        &:hover {
            color: white;
            background: $deep-carmine-pink;
        }
        &:active{
            transform: scale(.97);
        }
    }
    .inner-brand-list {
        width: calc(100%);
        margin-left: auto;
        margin-right: auto;
        // display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: stretch;
        align-content: stretch;
        direction: rtl;
        .brand-container {
            padding: 10px;
            outline: none;
            box-sizing: border-box;
        }
        .brand-item {
            // width: 24%;
            transition: ease all .25s;
            height: 150px;
            background-color: white;
            border: .8px solid $pampas;
            border-radius: 10px;
            display: inline-block;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: baseline;
            align-content: stretch;
            padding: 5px;
            box-sizing: border-box;
            position: relative;
            direction: rtl;
            overflow: hidden;
            cursor: pointer;
            .title-box {
                background: $pampas;
                width: calc(100% - 10px);
                border-radius: 7px;
                min-height: 40px;
                position: absolute;
                bottom:5px;
                padding:12px;
                box-sizing: border-box;
                z-index:11111;
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all .5s;
                .brand-title {
                    font-family: $FONT_FAMILY_FANUM;
                    font-size: .8rem;
                    text-align: center;
                    font-weight: 600;
                }
            }
            &:hover {
                border: .8px solid $deep-carmine-pink;
            }
            .thumb {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;
                // margin-top: 15px;
                img {
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}
footer {
    width: 100%;
    background: $mirage;
    padding:30px;
    box-sizing:border-box;
    text-align: center;
    color: $martini;
    font-family: $FONT_FAMILY;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: 100;
}
@media only screen and (max-width: 950px) {
    footer {
        padding: 10px;
        font-size: 1rem;
    }
}

// main responsive
.main-menu-resp {
    width: 100%;
    overflow: hidden;
    // display: none;
    height: 0;
    // height: calc(100% - 50px);
    position: fixed;
    bottom: 0;
    background: white;
    transition: ease-in-out all .3s;
    z-index: 11111111111111111111;
    * {
        box-sizing: border-box;
    }
    .sub-menu-resp {
        height: 50px;
        direction: rtl;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        background: $mirage;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        cursor: pointer;
        i {
            color: white;
            font-size: 1.1rem;
        }
        .title {
            color: white;
            font-family: $FONT_FAMILY;
            font-size: .8rem;
            padding-right: 10px;
        }
    }
    .main-cat-list-resp {
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 50px);
        direction: rtl;
        ul {
            margin-top: 0;
            width: 100%;
            padding: 0 0 10px 0;
            font-family: $FONT_FAMILY;
            border-bottom: 1px solid $heathered-gray;
            &:last-child {
                border: 0;
            }
            li {
                list-style: none;
                cursor: pointer;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                padding: 5px 21px;
                font-size: .8rem;
                &.title-item {
                    font-size: .8rem;
                    font-weight: 500;
                    border-bottom: 1px solid $heathered-gray;
                    color: black;
                    width: calc(100% - 30px);
                    padding-right: 10px;
                    margin-bottom: 7px;
                    margin-top: 5px;
                    float: left;                    
                }
                &.head-cat {
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-top: 15px;
                    font-size: .9rem;
                    position: relative;
                    font-weight: bold;
                    &::before {
                        position: absolute;
                        content: ' ';
                        right: 0;
                        top: 45%;
                        border-radius: 100px;
                        background: $deep-carmine-pink;
                        width: 6px;
                        height: 6px;
                    }
                }
            }

        }
    }
}
@media only screen and (max-width: 950px) {
    .resp_display_block {display: block;}
    .resp_display_none {display: none;}
}


/////////////////
///   PAGES   ///
/////////////////

//product page
.product-part {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: stretch;
    direction: rtl;
    margin-top: 30px;
    .product-right-side {
        width: 300px;
        .product-image {
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: 8px;
            border: 1px solid $pampas;
            overflow: hidden;
            img {
                width: calc(100% - 2px);
                right: 1px;
                top: 1px;
                position: absolute;
            }
        }
        .producer {
            width: 100%;
            height: auto;
            background: $pampas;
            margin-top: 10px;
            border-radius: 8px;
            padding: 3px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            position: relative;
            cursor: pointer;
            transition: ease all .25s;
            transform: scale(1);
            .producer-info-box {
                font-family: $FONT_FAMILY;
                color: black;
                padding-right: 15px;
                box-sizing: border-box;
                .producer-title {
                    font-size: .85rem;
                }
                .producer-categories {
                    padding-top: 5px;
                    font-size: .75rem;
                    font-weight: 100;
                }
            }
            .see-more-arrow {
                position: absolute;
                left: 30px;
                height: 100%;
                color: $pampas;
                font-size: 1.2rem;
                display: flex;
                align-content: center;
                align-items: center;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all .4s;
            }
            .producer-image {
                width: 60px;
                height: 60px;
                border-radius: 8px;
                background: white;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;
                img {
                    width: calc(100% - 2px);
                }
            }
            &:hover {
                background: $deep-carmine-pink;
                color: white;
                .producer-info-box {
                    color: white;
                }
                .see-more-arrow {
                    left: 20px;
                }
            }
            &:active {
                transform: scale(.95);
            }
        }
    }
    .product-left-side {
        direction: rtl;
        font-family: $FONT_FAMILY;
        padding: 25px;
        box-sizing: border-box;
        .product-title {
            font-size: 1.1rem;
            color: black;
            font-weight: bold;
            padding-bottom: 20px;
        }
        .option-box {
            padding-top: 10px;
            .option-icon {
                font-size: .8rem;
                color: $heathered-gray;
                width: 25px;
                text-align: center;
            }
            .option-title {
                font-size: .8rem;
                color: rgba(0,0,0,.5);
            }
            .option-price {
                font-size: 1rem;
                font-weight: bold;
                color: $deep-carmine-pink;
            }
            .option-info {
                font-size: .9rem;
                font-weight: normal;
                color: black;
            }
        }
        .add2cart-box {
            width: 300px;
            height: auto;
            font-family: $FONT_FAMILY;
            margin-top: 50px;
            .add2cart-btn {
                width: 100%;
                margin-top: 5px;
                border-radius: 6px;
                cursor: pointer;
                font-size: .8rem;
                height: 40px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                text-align: center;
                color: white;
                background: $heathered-gray;
                transform: scale(1);
                transition: ease all .3s;
                &:hover {
                    background: $mirage;
                }
                &:active {
                    transform: scale(.95);
                }
            }
            .counter-box {
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: stretch;
                align-content: stretch;
                div,i {
                    text-align: center;
                    color: black;
                    background: $pampas;
                    border-radius: 6px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                }
                .counter-title {
                    width: calc(100% - 90px);
                    outline: none;
                    &:focus {
                        border: 1px solid $deep-carmine-pink;
                    }
                }
                .counter-icon {
                    width: 40px;
                    font-size: 15px;
                    color: rgba(0,0,0,.7);
                    cursor: pointer;
                    transform: scale(1);
                    transition: ease all .3s;
                    &:hover {
                        background: $deep-carmine-pink;
                        color: white;
                    }
                    &:active {
                        transform: scale(.95);
                    }
                }
            }
        }
        .total-prices-box {
            margin-top: 35px;
            width: 100%;
            text-align: right;
            font-size: .8rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            .price-title {
                color: rgba(0,0,0,.9);
                font-weight: 300;
            }
            .price-text {
                color: black;
                font-weight: normal;
                padding-right: 10px;
            }
            .oval {
                width: 3px;
                height: 3px;
                border-radius: 20px;
                background: $deep-carmine-pink;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}
.product-info {
    width: calc(100% - 30px);
    margin: 25px auto;
    height: auto;
    background: $pampas;
    border-radius: 8px;
    direction: rtl;
    font-family: $FONT_FAMILY;
    .product-info-title {
        width: 100%;
        height: auto;
        padding: 15px;
        color: $mirage;
        text-align: right;
        font-size: .8rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        i {
            font-size: .9rem;
            opacity: .7;
            padding-left: 10px;
        }
    }
    table {
        width: 100%;
        direction: rtl;
        text-align: right;
        font-size: .75rem;
        border-spacing: unset;
        white-space: nowrap;
        td {
            border-top: 1px solid white;
            padding: 15px;
            &:nth-child(even) {
                color: rgba(0,0,0,.8);
                border-right: 1px solid white;
            }
            &:nth-child(odd) {
                color: rgba(0,0,0,.95);
                width: 1%;
            }
        }
    }
}
@media only screen and (max-width: 950px) {
    .product-part {
        flex-direction: column;
        .product-right-side {
            width: 100%;
            .product-image {
                height: auto;
                text-align: center;
                img {
                    position: relative;
                    max-width: 400px;
                }
            }
        }
        .product-left-side {
            width: 100%;
            padding: 25px 0;
            .product-title {
                width: 100%;
                text-align: center;
                font-size: .95rem;
                margin-top: 10px;
            }
            .add2cart-box {
                width: 100%;
                margin-top: 30px;
            }
            .total-prices-box{
                margin-top: 20px;
                border: 1px solid $deep-carmine-pink;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                flex-direction: column;
                .price-text {
                    padding-right: 0;
                    padding-top: 5px;
                }
                .oval {
                    width: 100%;
                    height: 1px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }   
            }
        }
    }
}
//brand page
.brand-page {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
    align-content: stretch;
    direction: rtl;
    font-family: $FONT_FAMILY;
    .brand-right-side {
        width: 230px;
        .brand-avatar-box {
            width: 100%;
            height: auto;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 12px;
            background: $pampas;
            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                background: $pampas;
            }
            .brand-title {
                width: 100%;
                padding: 8px 12px;
                margin-top: -2px;
                border-radius: 10px;
                background: white;
                text-align: center;
                font-size: .9rem;
                color: rgba(0,0,0,.9);
            }
        }
        .side-box {
            background: $pampas;
            border-radius: 12px;
            margin-top: 10px;
            .side-title {
                width: 100%;
                padding-top:10px;
                padding-bottom: 10px;
                border-bottom: 1px solid white;
                text-align: center;
                font-size: .8rem;
                color: rgba(0,0,0,.8);
            }
            .side-content {
                width: 100%;
                padding: 10px 15px 15px 15px;
                box-sizing: border-box;
                text-align: right;
                font-size: .7rem;
                line-height: 20px;
                color: rgba(0,0,0,.7);
            }
        }
    }
    .brand-left-side {
        width: calc(100% - 240px);
        .horiz-list {
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
            background: $pampas;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            .list-title {
                width: 100px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                text-align: center;
                background: $heathered-gray;
                color: white;
                font-size: .8rem;
            }
            .slick-list {
                padding-left: 50px;
                padding-right: 50px;
            }
            .list-items {
                position: relative;
                width: calc(100% - 100px);
                padding-top: 5px;
                padding-bottom: 5px;
                direction: rtl;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: stretch;
                align-content: stretch; 
                .slider-arrow {
                    position: absolute;
                    font-size: 18px;
                    color: $deep-carmine-pink;
                    background: $pampas;
                    padding: 3px;
                    border-radius: 20px;
                    top: calc(50% - 12px);
                    z-index: 11111;
                    cursor: pointer;
                    transform: scale(1);
                    transition: ease all .25s;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &:active {
                        transform: scale(1.05);
                    }
                }
                // display: table;
                // overflow-x: auto;
                // overflow-y: hidden;
                .item {
                    outline: none;
                    text-align: center;
                    position: relative;
                    // display: flex;
                    width: auto;
                    margin-left:3px;
                    margin-right: 3px;
                    background: white;
                    border-radius: 100px;
                    padding: 7px 18px;
                    font-size: .8rem;
                    color: rgba(0,0,0,.9);
                    transition: ease all .25s;
                    cursor: pointer;
                    transform: scale(1);
                    // &:first-child {
                    //     margin-right: 95px;
                    // }
                    &:hover {
                        background: $martini;
                        color: white;
                    }
                    &:active {
                        transform: scale(.95);
                    }
                    &.active {
                        background: $deep-carmine-pink;
                        color: white;
                    }
                }
            }
        }
        .products-list {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;
            align-content: flex-start;
            .product-item {
                margin-bottom: 10px;
                width: calc(25% - 10px);
                margin: 5px;
                background-color: white;
                border: .8px solid $pampas;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: baseline;
                align-content: stretch;
                padding: 5px;
                box-sizing: border-box;
                position: relative;
                direction: rtl;
                overflow: hidden;
                cursor: pointer;
                .title-box {
                    background: $pampas;
                    width: calc(100% - 10px);
                    border-radius: 7px;
                    min-height: 40px;
                    position: absolute;
                    bottom:5px;
                    padding:12px;
                    box-sizing: border-box;
                    z-index:11111;
                    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all .5s;
                    .product-title {
                        font-family: $FONT_FAMILY_FANUM;
                        font-size: .7rem;
                        text-align: center;
                        font-weight: 400;
                    }
                    .product-price {
                        font-family: $FONT_FAMILY_FANUM;
                        font-size: .8rem;
                        text-align: center;
                        color: $deep-carmine-pink;
                        font-weight: 600;
                        padding-top:7px;
                    }
                }
                .add2cart {
                    background: $heathered-gray;
                    border-radius: 7px;
                    // padding:10px;
                    height: 40px;
                    box-sizing: border-box;
                    width:100%;
                    position: absolute;
                    z-index:11;
                    text-align: center;
                    color: white;
                    font-family: $FONT_FAMILY;
                    font-size: .7rem;
                    bottom: 5px;
                    width: calc(100% - 10px);
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: stretch;
                    cursor: pointer;
                    transition: ease all .25s;
                    transform: scale(1);
                    &:hover {
                        background: $mirage;
                    }
                    &:active {
                        transform: scale(.97);
                    }
                }
                .discount {
                    border-radius: 0 0 0 20px;
                    background: $deep-carmine-pink;
                    padding:2px 10px 0px 10px;
                    box-sizing: border-box;
                    color: white;
                    line-height: 35px;
                    font-family: $FONT_FAMILY_FANUM;
                    font-size: .9rem;
                    position: absolute;
                    top:0;
                    right: -100%;
                    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all .7s;
                    z-index: 1111;
                }
                .thumb {
                    position: relative;
                    width: 80%;
                    padding-top:calc(100% + 30px);
                    img {
                        // height: 100%;
                        transition: linear all .2s;
                        width: 100%;
                        position: absolute;
                        top:10px;
                        right: 0;
                    }
                }
                &:hover {
                    .title-box {
                        bottom: 50px;
                    }
                    .discount {
                        right: 0;
                    }
                    .thumb {
                        img {
                            width: calc(100% - 30px);
                            top:20px;
                            right: 15px;
                        }
                    }
                }
            }
        }
        .see-more-products {
            cursor: pointer;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            background: $heathered-gray;
            color: white;
            font-size: .8rem;
            margin-top: 10px;
            text-align: center;
            border-radius: 9px;
            transform: scale(1);
            transition: ease all .25s;
            &:hover {
                background: $deep-carmine-pink;
            }
            &:active {
                transform: scale(.99);
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .brand-page {
        .brand-left-side {
            .products-list {
                .product-item {
                    width: calc(33% - 10px);
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .brand-page {
        flex-direction: column;
        .brand-left-side {
            width: 100%;
            .horiz-list {
                margin-top: 20px;
            }
            .products-list {
                .product-item {
                    width: calc(50% - 10px);
                }
            }
        }
        .brand-right-side {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 700px) {
    .brand-page {
        .brand-left-side {
            .products-list {
                .product-item {
                    width: 100%;
                }
            }
        }
    }
}
// category page
// TODO: responsive beshe
.category-page {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
    align-content: stretch;
    direction: rtl;
    font-family: $FONT_FAMILY;
    .category-right-side {
        width: 230px;
        .side-search-box {
            width: 100%;
            height: auto;
            background: $pampas;
            border-radius: 12px;
            position: relative;
            input {
                width: calc(100% - 30px);
                border-radius: 12px;
                background: inherit;
                border: 0;
                padding: 13.5px 10px;
                outline: none;
                font-family: $FONT_FAMILY;
                font-size: .75rem;
            }
            .side-search-icon {
                height: 100%;
                position: absolute;
                color: $heathered-gray;
                top: 0;
                left: 0;
                width: 30px;
                align-items: center;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                transform: scale(1);
                transition: ease all .2s;
                &:hover {
                    color: $deep-carmine-pink;
                }
                &:active {
                    transform: scale(.95);
                }
            }
        }
        .side-box {
            background: $pampas;
            border-radius: 12px;
            margin-top: 10px;
            .side-title {
                width: 100%;
                padding-top:10px;
                padding-bottom: 10px;
                border-bottom: 1px solid white;
                text-align: center;
                font-size: .8rem;
                color: rgba(0,0,0,.8);
            }
            .side-content {
                width: 100%;
                padding: 10px 15px 15px 15px;
                box-sizing: border-box;
                text-align: right;
                font-size: .7rem;
                line-height: 20px;
                color: rgba(0,0,0,.7);
                // check box
                .check-box-part {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: stretch;
                    color: $mirage;
                    font-size: .65rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    cursor: pointer;
                    transition: ease all .2s;
                    &.active {
                        color: $deep-carmine-pink;
                    }
                    &:hover {
                        color: $deep-carmine-pink;
                    }
                    .check-icon {
                        padding-left: 10px;
                        font-size: .8rem;
                    }
                }
                //
                // range slider
                //
                input {
                    box-shadow: 0;
                    outline: 0;
                }
                .range-slider {
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    position: relative;
                    // height: 6em;
                    .range-slider-box {
                        position: relative;
                        margin-top: 15px;
                        width: 100%;
                    }
                    .range-head-box {
                        padding-top: 20px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                        align-content: stretch;
                        .range-to-text {
                            width: 40px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $martini;
                        }
                        input {
                            width: calc(50% - 15px);
                            height: 30px;
                            font-size: .9rem;
                            padding-top: 3px;
                            color: $mirage;
                            &:first-child {
                                border-radius: 0 5px 5px 0;
                            }
                            &:last-child {
                                border-radius: 5px 0 0 5px;
                            }
                        }
                    }
                }
                .range-slider svg,
                .range-slider input[type=range] {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                input[type=number] {
                    // border: 1px solid #ddd;
                    border: 0;
                    background: white;
                    text-align: center;
                    font-family: $FONT_FAMILY;
                    font-size: 1rem;
                    -moz-appearance: textfield;
                }
                input[type=number]::-webkit-outer-spin-button,
                input[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                input[type=number]:invalid,
                input[type=number]:out-of-range {
                    border: 2px solid #ff6347;
                }
                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                }
                input[type=range]:focus {
                    outline: none;
                }
                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: $martini;
                }
                input[type=range]:focus::-ms-fill-lower {
                    background: $martini;
                }
                input[type=range]:focus::-ms-fill-upper {
                    background: $martini;
                }
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 5px;
                    cursor: pointer;
                    animate: 0.2s;
                    background: $heathered-gray;
                    border-radius: 10px;
                    box-shadow: none;
                    border: 0;
                }
                input[type=range]::-webkit-slider-thumb {
                    z-index: 2;
                    position: relative;
                    box-shadow: 0px 0px 0px #000;
                    border: 1px solid $deep-carmine-pink;
                    height: 15px;
                    width: 15px;
                    border-radius: 25px;
                    background: white;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -5px;
                }
                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 5px;
                    cursor: pointer;
                    animate: 0.2s;
                    background: #2497e3;
                    border-radius: 1px;
                    box-shadow: none;
                    border: 0;
                }
                input[type=range]::-moz-range-thumb {
                    z-index: 2;
                    position: relative;
                    box-shadow: 0px 0px 0px #000;
                    border: 1px solid #2497e3;
                    height: 18px;
                    width: 18px;
                    border-radius: 25px;
                    background: #a1d0ff;
                    cursor: pointer;
                }
                input[type=range]::-ms-track {
                    width: 100%;
                    height: 5px;
                    cursor: pointer;
                    animate: 0.2s;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }
                input[type=range]::-ms-fill-lower,
                input[type=range]::-ms-fill-upper {
                    background: #2497e3;
                    border-radius: 1px;
                    box-shadow: none;
                    border: 0;
                }
                input[type=range]::-ms-thumb {
                    z-index: 2;
                    position: relative;
                    box-shadow: 0px 0px 0px #000;
                    border: 1px solid #2497e3;
                    height: 18px;
                    width: 18px;
                    border-radius: 25px;
                    background: #a1d0ff;
                    cursor: pointer;
                }
            }
        }
        .single-check-box {
            width: 100%;
            border-radius: 12px;
            background: $pampas;
            padding: 15px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
            cursor: pointer;
            transition: ease all .3s;
            transform: scale(1);
            &:active {
                transform: scale(.97);
            }
            .left-icon {
                color: $martini;
                font-size: .7rem;
                text-align: left;
            }
            .check-box-part {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                align-content: stretch;
                color: $mirage;
                font-size: .7rem;
                .check-icon {
                    padding-left: 10px;
                    font-size: .8rem;
                }
            }
        }
    }
    .category-left-side {
        width: calc(100% - 240px);
        .horiz-list {
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
            background: $pampas;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            .list-title {
                width: 40px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                text-align: center;
                background: $heathered-gray;
                color: white;
                font-size: .8rem;
            }
            .list-items {
                position: relative;
                width: calc(100% - 40px);
                padding: 5px;
                direction: rtl;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: stretch;
                align-content: stretch;  
                .item {
                    display: inline-block;
                    outline: none;
                    text-align: center;
                    position: relative;
                    width: auto;
                    margin-right: 3px;
                    background: white;
                    border-radius: 100px;
                    padding: 7px 18px;
                    font-size: .8rem;
                    color: rgba(0,0,0,.9);
                    transition: ease all .25s;
                    cursor: pointer;
                    transform: scale(1);
                    &:hover {
                        background: $martini;
                        color: white;
                    }
                    &:active {
                        transform: scale(.95); 
                    }
                    &.active {
                        background: $deep-carmine-pink;
                        color: white;
                    }
                }
            }
        }
        .products-list {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;
            align-content: flex-start;
            .product-item {
                margin-bottom: 10px;
                width: calc(25% - 10px);
                margin: 5px;
                background-color: white;
                border: .8px solid $pampas;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: baseline;
                align-content: stretch;
                padding: 5px;
                box-sizing: border-box;
                position: relative;
                direction: rtl;
                overflow: hidden;
                cursor: pointer;
                .title-box {
                    background: $pampas;
                    width: calc(100% - 10px);
                    border-radius: 7px;
                    min-height: 40px;
                    position: absolute;
                    bottom:5px;
                    padding:12px;
                    box-sizing: border-box;
                    z-index:11111;
                    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all .5s;
                    .product-title {
                        font-family: $FONT_FAMILY_FANUM;
                        font-size: .7rem;
                        text-align: center;
                        font-weight: 400;
                    }
                    .product-price {
                        font-family: $FONT_FAMILY_FANUM;
                        font-size: .8rem;
                        text-align: center;
                        color: $deep-carmine-pink;
                        font-weight: 600;
                        padding-top:7px;
                    }
                }
                .add2cart {
                    background: $heathered-gray;
                    border-radius: 7px;
                    // padding:10px;
                    height: 40px;
                    box-sizing: border-box;
                    width:100%;
                    position: absolute;
                    z-index:11;
                    text-align: center;
                    color: white;
                    font-family: $FONT_FAMILY;
                    font-size: .7rem;
                    bottom: 5px;
                    width: calc(100% - 10px);
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: stretch;
                    cursor: pointer;
                    transition: ease all .25s;
                    transform: scale(1);
                    &:hover {
                        background: $mirage;
                    }
                    &:active {
                        transform: scale(.97);
                    }
                }
                .discount {
                    border-radius: 0 0 0 20px;
                    background: $deep-carmine-pink;
                    padding:2px 10px 0px 10px;
                    box-sizing: border-box;
                    color: white;
                    line-height: 35px;
                    font-family: $FONT_FAMILY_FANUM;
                    font-size: .9rem;
                    position: absolute;
                    top:0;
                    right: -100%;
                    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all .7s;
                    z-index: 1111;
                }
                .thumb {
                    position: relative;
                    width: 80%;
                    padding-top:calc(100% + 30px);
                    img {
                        // height: 100%;
                        transition: linear all .2s;
                        width: 100%;
                        position: absolute;
                        top:10px;
                        right: 0;
                    }
                }
                &:hover {
                    .title-box {
                        bottom: 50px;
                    }
                    .discount {
                        right: 0;
                    }
                    .thumb {
                        img {
                            width: calc(100% - 30px);
                            top:20px;
                            right: 15px;
                        }
                    }
                }
            }
        }
        .see-more-products {
            cursor: pointer;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            background: $heathered-gray;
            color: white;
            font-size: .8rem;
            margin-top: 10px;
            text-align: center;
            border-radius: 9px;
            transform: scale(1);
            transition: ease all .25s;
            &:hover {
                background: $deep-carmine-pink;
            }
            &:active {
                transform: scale(.99);
            }
        }
    }
}
// user dashboard page + checkout stages
.user-dashboard {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
    align-content: stretch;
    direction: rtl;
    font-family: $FONT_FAMILY;
    .user-menu {
        width: 260px;
        min-height: calc(100vh - 300px);
        .avatar-box {
            width: 100%;
            background: $pampas;
            padding: 15px;
            display: flex;
	        flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            border-radius: $GLOBAL_BORDER_RADIUS;
            .avatar-image-box {
                width: 35px;
                height: 35px;
                overflow: hidden;
                border-radius: 30px;
                background: white;
                img {
                    width: 100%;
                }
            }
            .user-full-name {
                font-size: .75rem;
                padding-right: 10px;
                color: $mirage;
            }
        }
        .menu-box {
            margin-top: 12px;
            width: 100%;
            padding: 8px;
            border-radius: $GLOBAL_BORDER_RADIUS;
            background: $pampas;
            box-sizing: border-box;
            a {
                cursor: pointer;
                list-style: none;
                width: 100%;
                border-radius: $GLOBAL_BORDER_RADIUS - 3px;
                background: white;
                padding: 13px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                align-content: stretch;
                color: $mirage;
                margin-bottom: 8px;
                transition: ease all .3s;
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    font-size: .7rem;
                }
                i {
                    font-size: 1rem;
                    color: rgba(0,0,0,.6);
                }
                &:hover {
                    background: $heathered-gray;
                    color: white;
                    i {
                        color: white;
                    }
                }
                &.active {
                    border: 1px solid $mirage;
                    background: $heathered-gray;
                    color: white;
                    i {
                        color: white;
                    }
                }
            }
        }
        .full-with-item {
            cursor: pointer;
            list-style: none;
            width: 100%;
            border-radius: $GLOBAL_BORDER_RADIUS - 3px;
            background: $pampas;
            padding: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
            color: $mirage;
            margin-top: 8px;
            transition: ease all .3s;
            span {
                font-size: .7rem;
            }
            i {
                font-size: 1rem;
                margin-left: 5px;
                color: rgba(0,0,0,.6);
            }
            &:hover {
                background: $heathered-gray;
                color: white;
                i {
                    color: white;
                }
            }
            &.active {
                border: 1px solid $mirage;
                background: $heathered-gray;
                color: white;
                i {
                    color: white;
                }
            }
        }
    }
    .dashboard-container {
        width: calc(100% - 270px);
        .action-button {
            width: 100%;
            padding: 10px;
            background: $heathered-gray;
            margin-top: 10px;
            border-radius: $GLOBAL_BORDER_RADIUS;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            color: white;
            align-content: stretch;
            cursor: pointer;
            transition: ease all .3s;
            transform: scale(1);
            .action-title {
                font-size: .9rem;
                padding-right: 5px;
            }
            i {
                font-size: .9rem;
                padding-left: 5px;
            }
            &:hover {
                background: $deep-carmine-pink;
            }
            &:active {
                transform: scale(.99);
            }
        }
        .see-more {
            cursor: pointer;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            background: $heathered-gray;
            color: white;
            font-size: .8rem;
            margin-top: 10px;
            text-align: center;
            border-radius: 9px;
            transform: scale(1);
            transition: ease all .25s;
            &:hover {
                background: $deep-carmine-pink;
            }
            &:active {
                transform: scale(.99);
            }
        }
        .dashboard-box {
            width: 100%;
            background: $pampas;
            border-radius: $GLOBAL_BORDER_RADIUS;
            overflow-x: auto;
            .title-box {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                align-content: stretch;
                .inner-title {
                    span {
                        font-size: .8rem;
                    }
                    i {
                        font-size: .6rem;
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                }
                .total-price {
                    font-family: $FONT_FAMILY_FANUM;
                    font-size: 1rem;
                    padding: 5px;
                    font-weight: bold;
                }
                &.is-head {
                    border-bottom: 1px solid white;
                }
                .head-btn {
                    background: white;
                    color: $mirage;
                    font-size: .7rem;
                    padding: 10px 15px;
                    border-radius: 100px;
                    transform: scale(1);
                    transition: ease all .2s;
                    &:hover {
                        color: white;
                        background: $mirage;
                    }
                    &:active {
                        transform: scale(.95);
                    }
                }
            }
            table {
                width: 100%;
                direction: rtl;
                text-align: right;
                font-size: .75rem;
                border-spacing: unset;
                white-space: nowrap;
                overflow-x: auto;
                tr {
                    th {
                        color: $deep-carmine-pink;
                        text-align: center;
                        border-top: 1px solid white;
                        padding: 15px;
                        &:last-child {
                            width: 1%;
                        }
                    }
                    td {
                        text-align: center;
                        border-top: 1px solid white;
                        padding: 15px;
                        &.green {
                            color: green;
                        }
                        &.orange {
                            color: orange;
                        }
                        &.red {
                            color: red;
                        }
                        i {
                            cursor: pointer;
                            color: $martini;
                            padding-left: 5px;
                            padding-right: 5px;
                            &:hover {
                                color: $mirage;
                            }
                        }
                        &:first-child {
                            font-weight: bold;
                        }
                        &:last-child {
                            width: 1%;
                            i:hover {
                                color: $deep-carmine-pink;
                            }
                        }
                    }
                }
            }
        }
    }
}
// user info
.user-info-form {
    width: 100%;
    height: auto;
    font-family: $FONT_FAMILY;
    // background: $pampas;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    // border-radius: $GLOBAL_BORDER_RADIUS;
    margin-top: 10px;
    button {
        outline: none;
        border: 0;
    }
    .input-box,p {
        width: calc(50% - 10px);
        margin: 4px;
        display: inline-block;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
        label {
            width: 100%;
            font-size: .8rem;
            padding-top: 10px;
            padding-right: 10px;
        }
        input,textarea,select {
            margin-top: 6px;
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            font-family: $FONT_FAMILY;
            border: 1px solid $martini;
            border-radius: 8px;
            transition: ease all .3s;
            outline: none;
            font-size: .8rem;
            resize: vertical;
            &:focus {
                border: 1px solid $deep-carmine-pink;
            }
            &.ltr {
                text-align: left;
                direction: ltr;
            }
        }
        textarea {
            min-height: 70px;
        }
        select {
            height: 40px;
        }
    }
}
@media only screen and (max-width: 700px) {
    .user-info-form {
        .input-box {
            width: 100%;
        }
    }
}
// checkout time selection
.time-selection-form {
    width: 100%;
    height: auto;
    button {
        border: 0;
        outline: 0;
        font-family: $FONT_FAMILY;
    }
    .time-option {
        width: 100%;
        position: relative;
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            + .radio-label {
                display: block;
                width: 100%;
                border-radius: $GLOBAL_BORDER_RADIUS;
                background: $pampas;
                padding: 10px;
                margin-top: 7px;
                font-size: .8rem;
                cursor: pointer;
                border: 1px solid $pampas;
                transition: all 250ms ease;
                &:before {
                    content: '';
                    background: $pampas;
                    border-radius: 100%;
                    border: 1px solid $martini;
                    float: right;
                    width: 1.3em;
                    height: 1.3em;
                    position: relative;
                    top: 0;
                    margin-left: .9em; 
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    transition: all 250ms ease;
                }
            }
            &:checked {
            + .radio-label {
                border: 1px solid $deep-carmine-pink;
                &:before {
                background-color: $pampas;
                box-shadow: inset 0 0 0 4px $deep-carmine-pink;
                border: 1px solid $deep-carmine-pink;
                }
            }
            }
            &:focus {
            + .radio-label {
                &:before {
                outline: none;
                border-color: $pampas;
                }
            }
            }
            &:disabled {
            + .radio-label {
                &:before {
                box-shadow: inset 0 0 0 4px $deep-carmine-pink;
                border-color: darken($deep-carmine-pink, 25%);
                background: darken($deep-carmine-pink, 25%);
                }
            }
            }
            + .radio-label {
            &:empty {
                &:before {
                margin-right: 0;
                }
            }
            }
        }
    }
    .payment-ways {
        display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        .time-option {
            flex: 2;
            display: inline-block;
            &:first-child {
                margin-left: 5px;
            }
        }
    }
}
.payment-result {
    width: 100%;
    text-align: center;
    .result-title {
        font-size: 1rem;
        color: $deep-carmine-pink;
        font-weight: bold;
        padding-top: 25px;
    }
    hr {
        width: 100%;
        border: 0;
        height: 1px;
        background: white;
        margin-top: 20px;
    }
    .result-desc {
        padding-top: 15px;
        font-size: .8rem;
        color: $martini;
    }
    .result-code-title {
        padding-top: 15px;
        font-size: 1rem;
        color: $mirage;
    }
    .result-code {
        font-size: 1.2rem;
        color: $deep-carmine-pink;
        font-weight: bold;
        // letter-spacing: 5px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
}
.auth-box {
    width: 400px;
    border: 1px solid $martini;
    background: $pampas;
    border-radius: $GLOBAL_BORDER_RADIUS;
    // padding: 20px;
    box-sizing: border-box;
    direction: rtl;
    margin-top: 80px;
    // box-shadow: 0 10px 20px ;
    margin-left: auto;
    margin-right: auto;
    .auth-title {
        width: 100%;
        border-bottom: 1px solid $martini;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-family: $FONT_FAMILY;
        font-size: 1rem;
        font-weight: bold;
        color: $mirage;
    }
    form {
        padding: 10px;
        box-sizing: border-box;
        font-family: $FONT_FAMILY;
        .submit-btn {
            cursor: pointer;
            font-family: $FONT_FAMILY;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            background: $heathered-gray;
            color: white;
            font-size: .9rem;
            border: 0;
            outline: 0; 
            margin-top: 10px;
            text-align: center;
            border-radius: 9px;
            transform: scale(1);
            transition: ease all .25s;
            &:hover {
                background: $deep-carmine-pink;
            }
            &:active {
                transform: scale(.99);
            }
        }
    }
    .input-box,p {
        width: 100%;
        display: inline-block;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
        margin-bottom: 10px;
        label {
            width: 100%;
            font-size: .9rem;
            padding-top: 10px;
            padding-right: 10px;
        }
        input,textarea,select {
            margin-top: 6px;
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            font-family: $FONT_FAMILY;
            border: 1px solid $martini;
            border-radius: 8px;
            transition: ease all .3s;
            outline: none;
            font-size: .9rem;
            resize: vertical;
            &:focus {
                border: 1px solid $deep-carmine-pink;
            }
            &.ltr {
                text-align: left;
                direction: ltr;
            }
        }
    }
    .auth-svg {
        width: 25%;
        margin: 30px;
    }
    .alert-box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 4px;
        margin-bottom: 7px;
        // margin-bottom: 10px;
        border-radius: $GLOBAL_BORDER_RADIUS - 5px;
        text-align: right;
        border: 1px solid $deep-carmine-pink;
        color: $deep-carmine-pink;
        font-size: .7rem;
        font-family: $FONT_FAMILY;
        background: rgba(242,43,57,.1);
    }
}
.auth-more-box {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 400px;
    direction: rtl;
    padding: 20px;
    box-sizing: border-box;
    color: $mirage;
    font-size: .9rem;
    font-family: $FONT_FAMILY;
    a {
        transition: ease all .25s;
        &:hover {
            color: $deep-carmine-pink;
        }
    }
}