@import url(WebFonts/css/fontiran.css);
body {
  margin: 0;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.main-head-bar {
  width: 100%;
  background: #f4f1f0;
  border-bottom: 1px solid #b2a2a2;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
}

.main-head-bar .head-icon-resp {
  color: #1c1a20;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.main-head-bar .logo {
  font-family: IRANYekan;
  font-size: 1.3rem;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
  color: #1c1a20;
  letter-spacing: 2px;
}

.main-head-bar .logo-resp {
  font-family: IRANYekan;
  font-size: 32px;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
  color: #1c1a20;
}

.main-head-bar .head-right-resp {
  width: 25%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-head-bar .head-left-resp {
  width: 25%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-head-bar .head-right {
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.main-head-bar .head-right .search-box {
  width: 60%;
  position: relative;
  border: 1px solid #b2a2a2;
  background: white;
  padding: 9px 15px;
  border-radius: 100px;
}

.main-head-bar .head-right .search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 30%;
  color: #988c7d;
  font-size: 1rem;
}

.main-head-bar .head-right .search-box .search-input {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: IRANYekan;
  font-size: 12px;
  color: #b2a2a2;
}

.main-head-bar .head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 40%;
}

.main-head-bar .head-left li {
  list-style: none;
  background: white;
  padding: 9px;
  border-radius: 100px;
  color: #1c1a20;
  font-family: IRANYekan;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
}

.main-head-bar .head-left .head-icon {
  font-size: 13px;
}

.main-head-bar .head-left .basket-badge {
  background: #f22b39;
  padding: 5px 10px 2px 10px;
  color: white;
  font-weight: bold;
  display: inline-block;
  border-radius: 100px;
}

.main-head-bar .head-left .basket-title {
  padding-left: 25px;
  padding-right: 10px;
  color: #1c1a20;
  display: inline-block;
  border-radius: 100px;
}

.resp_display_block {
  display: none;
}

@media only screen and (max-width: 950px) {
  .main-head-bar {
    position: fixed;
    z-index: 111111111;
    top: 0;
    padding: 4px 10px;
    height: 50px;
  }
  .main-head-bar .logo-resp {
    width: 50%;
  }
  .main-head-bar .logo {
    display: none;
  }
  .main-head-bar .head-left {
    display: none;
  }
  .main-head-bar .head-right {
    display: none;
  }
  .main-head-bar .head-right-resp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-head-bar .head-left-resp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-bar-resp {
  width: 100%;
  border-bottom: 1px solid #1c1a20;
  background: white;
  margin-top: 50px;
}

.search-bar-resp .search-icon {
  width: 40px;
  height: 100%;
  text-align: center;
  background: #1c1a20;
  color: white;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.search-bar-resp input {
  width: calc(100% - 44px);
  border: 0;
  text-align: right;
  font-size: .7rem;
  font-family: IRANYekan;
  padding-right: 10px;
  float: right;
  padding-top: 10px;
  outline: none;
  height: 100%;
}

.main-menu {
  width: 100%;
  background: #988c7d;
  direction: rtl;
  font-family: IRANYekan;
}

.main-menu .main-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.main-menu .main-line li {
  list-style: none;
  font-size: 13px;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  color: #f4f1f0;
}

.main-menu .main-line li:hover {
  font-weight: bold;
}

.main-menu .main-line li .li-circle {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #f22b39;
  border-radius: 10px;
  bottom: -2.5px;
  right: calc(50% - 2.5px);
  display: none;
}

.main-menu .main-line li .li-circle.diactive {
  visibility: hidden;
  opacity: 0;
}

.main-menu .main-line li .li-circle.active {
  visibility: visible;
  opacity: 1;
}

.main-menu .sub-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 111111111111;
  background: rgba(255, 255, 255, 0.97);
  -webkit-transition: ease-out .2s all;
  transition: ease-out .2s all;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #b2a2a2;
  border-top: 1px solid #b2a2a2;
  width: 100%;
  height: 0px;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-menu .sub-box .sub-title {
  font-size: 13px;
  text-align: right;
  padding-right: 20px;
}

.main-menu .sub-box .sub-title i {
  padding-left: 5px;
}

.main-menu .sub-box .sub-list {
  padding-right: 20px;
  padding-left: 20px;
  display: -ms-inline-grid;
  display: inline-grid;
}

.main-menu .sub-box .sub-list li {
  list-style: none;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.main-menu .sub-box .sub-list li i {
  font-size: 8px;
  padding-left: 3px;
}

.main-menu .sub-box .sub-list li:hover {
  color: #f22b39;
}

.main-menu .sub-box .sub-brands {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.main-menu .sub-box .sub-categories {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.main-slider {
  height: auto;
  width: calc(100%);
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.main-slider .slider-image {
  outline: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-slider .slider-image img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main-slider .slider-arrow {
  position: absolute;
  font-size: 1.8rem;
  cursor: pointer;
  color: #f4f1f0;
  top: calc(50% - 14px);
  z-index: 11111;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.main-slider .slider-arrow:hover {
  color: #f22b39;
  text-shadow: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-slider .slider-arrow:active {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media only screen and (max-width: 950px) {
  .main-slider {
    height: 180px;
    position: relative;
  }
  .main-slider .slider-image {
    position: absolute;
    height: 100%;
  }
  .main-slider .slider-image img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-line-bar {
  width: 100%;
  padding: 30px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.title-line-bar .title {
  font-family: IRANYekan;
  font-size: 15px;
  text-align: center;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}

.title-line-bar .line {
  width: 30px;
  height: 1px;
  background: #b2a2a2;
}

.simple-list {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.simple-list .product-list-arrow {
  background: #f4f1f0;
  border-radius: 8px;
  z-index: 111;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #b2a2a2;
  font-size: 20px;
  position: absolute;
  height: calc(100% - 20px);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.simple-list .product-list-arrow:hover {
  background: #f22b39;
  color: white;
}

.simple-list .product-list-arrow:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.simple-list .inner-product-list {
  width: 100%;
  direction: rtl;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.simple-list .inner-product-list .product-container {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.simple-list .inner-product-list .product-item {
  background-color: white;
  border: 0.8px solid #f4f1f0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  direction: rtl;
  overflow: hidden;
  cursor: pointer;
}

.simple-list .inner-product-list .product-item .title-box {
  background: #f4f1f0;
  width: calc(100% - 10px);
  border-radius: 7px;
  min-height: 40px;
  position: absolute;
  bottom: 5px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 11111;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
}

.simple-list .inner-product-list .product-item .title-box .product-title {
  font-family: IRANYekan;
  font-size: .7rem;
  text-align: center;
  font-weight: 400;
}

.simple-list .inner-product-list .product-item .title-box .product-price {
  font-family: IRANYekan;
  font-size: .8rem;
  text-align: center;
  color: #f22b39;
  font-weight: 600;
  padding-top: 7px;
}

.simple-list .inner-product-list .product-item .add2cart {
  background: #988c7d;
  border-radius: 7px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 11;
  text-align: center;
  color: white;
  font-family: IRANYekan;
  font-size: .7rem;
  bottom: 5px;
  width: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  cursor: pointer;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.simple-list .inner-product-list .product-item .add2cart:hover {
  background: #1c1a20;
}

.simple-list .inner-product-list .product-item .add2cart:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.simple-list .inner-product-list .product-item .discount {
  border-radius: 0 0 0 20px;
  background: #f22b39;
  padding: 2px 10px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  line-height: 35px;
  font-family: IRANYekan;
  font-size: .9rem;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.7s;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.7s;
  z-index: 1111;
}

.simple-list .inner-product-list .product-item .thumb {
  position: relative;
  width: 80%;
  padding-top: calc(100% + 30px);
}

.simple-list .inner-product-list .product-item .thumb img {
  -webkit-transition: linear all .2s;
  transition: linear all .2s;
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
}

.simple-list .inner-product-list .product-item:hover .title-box {
  bottom: 50px;
}

.simple-list .inner-product-list .product-item:hover .discount {
  right: 0;
}

.simple-list .inner-product-list .product-item:hover .thumb img {
  width: calc(100% - 30px);
  top: 20px;
  right: 15px;
}

.special-parts {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-top: 30px;
}

.special-parts .special-item {
  width: 49%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: ease-in-out .2s all;
  transition: ease-in-out .2s all;
}

.special-parts .special-item:hover {
  -webkit-box-shadow: 0 5px 12px rgba(40, 16, 211, 0.1);
          box-shadow: 0 5px 12px rgba(40, 16, 211, 0.1);
  margin-top: -5px;
  margin-bottom: 5px;
}

.special-parts .special-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 950px) {
  .special-parts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .special-parts .special-item {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }
  .special-parts .special-item:hover {
    margin-top: 0;
  }
}

.main-steps {
  width: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-top: 60px;
}

.main-steps .step-item {
  width: 28%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  font-family: IRANYekan;
  padding: 30px;
  -webkit-box-shadow: 0 5px 12px rgba(40, 16, 211, 0);
          box-shadow: 0 5px 12px rgba(40, 16, 211, 0);
  cursor: pointer;
  -webkit-transition: ease-in-out all .2s;
  transition: ease-in-out all .2s;
  border-radius: 8px;
}

.main-steps .step-item:hover {
  -webkit-box-shadow: 0 5px 12px rgba(40, 16, 211, 0.1);
          box-shadow: 0 5px 12px rgba(40, 16, 211, 0.1);
}

.main-steps .step-item img {
  width: 20%;
}

.main-steps .step-item .step-title {
  padding-top: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  text-align: center;
}

.main-steps .step-item .step-desc {
  font-size: .7rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

@media only screen and (max-width: 950px) {
  .main-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-steps .step-item {
    width: 100%;
  }
}

.news-letter {
  width: 100%;
  background: #b2a2a2;
  border-top: 1px solid #1c1a20;
  border-bottom: 1px solid #1c1a20;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
  margin-top: 50px;
}

.news-letter .letter-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  font-family: IRANYekan;
  font-size: .9rem;
  color: white;
}

.news-letter .letter-title .letter-icon {
  color: white;
  font-size: 2rem;
  padding-left: 20px;
}

.news-letter .letter-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
}

.news-letter .letter-join .join-btn {
  background: #1c1a20;
  border-radius: 50px 0 0 50px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  color: white;
  text-align: center;
  font-family: IRANYekan;
  font-size: .8rem;
  cursor: pointer;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.news-letter .letter-join .join-btn:hover {
  background: #f22b39;
  color: white;
}

.news-letter .letter-join input {
  border-radius: 0 50px 50px 0;
  border: 0;
  background: white;
  text-align: right;
  font-family: IRANYekan;
  font-size: .8rem;
  height: 40px;
  color: #1c1a20;
  padding-right: 15px;
  outline: none;
  width: 200px;
}

@media only screen and (max-width: 950px) {
  .news-letter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px;
  }
  .news-letter .letter-title {
    width: 100%;
    padding: 0;
    font-size: .8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-letter .letter-title .letter-icon {
    padding-left: 0;
    padding-bottom: 10px;
    font-size: 2.5rem;
  }
  .news-letter .letter-join {
    margin-top: 15px;
  }
}

.brands-list {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.brands-list .product-list-arrow {
  background: #f4f1f0;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: absolute;
  z-index: 111;
  height: calc(100% - 20px);
  top: 0;
  color: #b2a2a2;
  font-size: 20px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.brands-list .product-list-arrow:hover {
  color: white;
  background: #f22b39;
}

.brands-list .product-list-arrow:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.brands-list .inner-brand-list {
  width: calc(100%);
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
}

.brands-list .inner-brand-list .brand-container {
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brands-list .inner-brand-list .brand-item {
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  height: 150px;
  background-color: white;
  border: 0.8px solid #f4f1f0;
  border-radius: 10px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  direction: rtl;
  overflow: hidden;
  cursor: pointer;
}

.brands-list .inner-brand-list .brand-item .title-box {
  background: #f4f1f0;
  width: calc(100% - 10px);
  border-radius: 7px;
  min-height: 40px;
  position: absolute;
  bottom: 5px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 11111;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
}

.brands-list .inner-brand-list .brand-item .title-box .brand-title {
  font-family: IRANYekan;
  font-size: .8rem;
  text-align: center;
  font-weight: 600;
}

.brands-list .inner-brand-list .brand-item:hover {
  border: 0.8px solid #f22b39;
}

.brands-list .inner-brand-list .brand-item .thumb {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.brands-list .inner-brand-list .brand-item .thumb img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

footer {
  width: 100%;
  background: #1c1a20;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #b2a2a2;
  font-family: IRANYekan;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 100;
}

@media only screen and (max-width: 950px) {
  footer {
    padding: 10px;
    font-size: 1rem;
  }
}

.main-menu-resp {
  width: 100%;
  overflow: hidden;
  height: 0;
  position: fixed;
  bottom: 0;
  background: white;
  -webkit-transition: ease-in-out all .3s;
  transition: ease-in-out all .3s;
  z-index: 11111111111111111111;
}

.main-menu-resp * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-menu-resp .sub-menu-resp {
  height: 50px;
  direction: rtl;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background: #1c1a20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.main-menu-resp .sub-menu-resp i {
  color: white;
  font-size: 1.1rem;
}

.main-menu-resp .sub-menu-resp .title {
  color: white;
  font-family: IRANYekan;
  font-size: .8rem;
  padding-right: 10px;
}

.main-menu-resp .main-cat-list-resp {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
  direction: rtl;
}

.main-menu-resp .main-cat-list-resp ul {
  margin-top: 0;
  width: 100%;
  padding: 0 0 10px 0;
  font-family: IRANYekan;
  border-bottom: 1px solid #988c7d;
}

.main-menu-resp .main-cat-list-resp ul:last-child {
  border: 0;
}

.main-menu-resp .main-cat-list-resp ul li {
  list-style: none;
  cursor: pointer;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 21px;
  font-size: .8rem;
}

.main-menu-resp .main-cat-list-resp ul li.title-item {
  font-size: .8rem;
  font-weight: 500;
  border-bottom: 1px solid #988c7d;
  color: black;
  width: calc(100% - 30px);
  padding-right: 10px;
  margin-bottom: 7px;
  margin-top: 5px;
  float: left;
}

.main-menu-resp .main-cat-list-resp ul li.head-cat {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
  font-size: .9rem;
  position: relative;
  font-weight: bold;
}

.main-menu-resp .main-cat-list-resp ul li.head-cat::before {
  position: absolute;
  content: ' ';
  right: 0;
  top: 45%;
  border-radius: 100px;
  background: #f22b39;
  width: 6px;
  height: 6px;
}

@media only screen and (max-width: 950px) {
  .resp_display_block {
    display: block;
  }
  .resp_display_none {
    display: none;
  }
}

.product-part {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
  margin-top: 30px;
}

.product-part .product-right-side {
  width: 300px;
}

.product-part .product-right-side .product-image {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid #f4f1f0;
  overflow: hidden;
}

.product-part .product-right-side .product-image img {
  width: calc(100% - 2px);
  right: 1px;
  top: 1px;
  position: absolute;
}

.product-part .product-right-side .producer {
  width: 100%;
  height: auto;
  background: #f4f1f0;
  margin-top: 10px;
  border-radius: 8px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
  cursor: pointer;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.product-part .product-right-side .producer .producer-info-box {
  font-family: IRANYekan;
  color: black;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-part .product-right-side .producer .producer-info-box .producer-title {
  font-size: .85rem;
}

.product-part .product-right-side .producer .producer-info-box .producer-categories {
  padding-top: 5px;
  font-size: .75rem;
  font-weight: 100;
}

.product-part .product-right-side .producer .see-more-arrow {
  position: absolute;
  left: 30px;
  height: 100%;
  color: #f4f1f0;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.4s;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.4s;
}

.product-part .product-right-side .producer .producer-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.product-part .product-right-side .producer .producer-image img {
  width: calc(100% - 2px);
}

.product-part .product-right-side .producer:hover {
  background: #f22b39;
  color: white;
}

.product-part .product-right-side .producer:hover .producer-info-box {
  color: white;
}

.product-part .product-right-side .producer:hover .see-more-arrow {
  left: 20px;
}

.product-part .product-right-side .producer:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.product-part .product-left-side {
  direction: rtl;
  font-family: IRANYekan;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-part .product-left-side .product-title {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

.product-part .product-left-side .option-box {
  padding-top: 10px;
}

.product-part .product-left-side .option-box .option-icon {
  font-size: .8rem;
  color: #988c7d;
  width: 25px;
  text-align: center;
}

.product-part .product-left-side .option-box .option-title {
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.5);
}

.product-part .product-left-side .option-box .option-price {
  font-size: 1rem;
  font-weight: bold;
  color: #f22b39;
}

.product-part .product-left-side .option-box .option-info {
  font-size: .9rem;
  font-weight: normal;
  color: black;
}

.product-part .product-left-side .add2cart-box {
  width: 300px;
  height: auto;
  font-family: IRANYekan;
  margin-top: 50px;
}

.product-part .product-left-side .add2cart-box .add2cart-btn {
  width: 100%;
  margin-top: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: .8rem;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  background: #988c7d;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.product-part .product-left-side .add2cart-box .add2cart-btn:hover {
  background: #1c1a20;
}

.product-part .product-left-side .add2cart-box .add2cart-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.product-part .product-left-side .add2cart-box .counter-box {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.product-part .product-left-side .add2cart-box .counter-box div, .product-part .product-left-side .add2cart-box .counter-box i {
  text-align: center;
  color: black;
  background: #f4f1f0;
  border-radius: 6px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-part .product-left-side .add2cart-box .counter-box .counter-title {
  width: calc(100% - 90px);
  outline: none;
}

.product-part .product-left-side .add2cart-box .counter-box .counter-title:focus {
  border: 1px solid #f22b39;
}

.product-part .product-left-side .add2cart-box .counter-box .counter-icon {
  width: 40px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.product-part .product-left-side .add2cart-box .counter-box .counter-icon:hover {
  background: #f22b39;
  color: white;
}

.product-part .product-left-side .add2cart-box .counter-box .counter-icon:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.product-part .product-left-side .total-prices-box {
  margin-top: 35px;
  width: 100%;
  text-align: right;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.product-part .product-left-side .total-prices-box .price-title {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
}

.product-part .product-left-side .total-prices-box .price-text {
  color: black;
  font-weight: normal;
  padding-right: 10px;
}

.product-part .product-left-side .total-prices-box .oval {
  width: 3px;
  height: 3px;
  border-radius: 20px;
  background: #f22b39;
  margin-left: 15px;
  margin-right: 15px;
}

.product-info {
  width: calc(100% - 30px);
  margin: 25px auto;
  height: auto;
  background: #f4f1f0;
  border-radius: 8px;
  direction: rtl;
  font-family: IRANYekan;
}

.product-info .product-info-title {
  width: 100%;
  height: auto;
  padding: 15px;
  color: #1c1a20;
  text-align: right;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product-info .product-info-title i {
  font-size: .9rem;
  opacity: .7;
  padding-left: 10px;
}

.product-info table {
  width: 100%;
  direction: rtl;
  text-align: right;
  font-size: .75rem;
  border-spacing: unset;
  white-space: nowrap;
}

.product-info table td {
  border-top: 1px solid white;
  padding: 15px;
}

.product-info table td:nth-child(even) {
  color: rgba(0, 0, 0, 0.8);
  border-right: 1px solid white;
}

.product-info table td:nth-child(odd) {
  color: rgba(0, 0, 0, 0.95);
  width: 1%;
}

@media only screen and (max-width: 950px) {
  .product-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-part .product-right-side {
    width: 100%;
  }
  .product-part .product-right-side .product-image {
    height: auto;
    text-align: center;
  }
  .product-part .product-right-side .product-image img {
    position: relative;
    max-width: 400px;
  }
  .product-part .product-left-side {
    width: 100%;
    padding: 25px 0;
  }
  .product-part .product-left-side .product-title {
    width: 100%;
    text-align: center;
    font-size: .95rem;
    margin-top: 10px;
  }
  .product-part .product-left-side .add2cart-box {
    width: 100%;
    margin-top: 30px;
  }
  .product-part .product-left-side .total-prices-box {
    margin-top: 20px;
    border: 1px solid #f22b39;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-part .product-left-side .total-prices-box .price-text {
    padding-right: 0;
    padding-top: 5px;
  }
  .product-part .product-left-side .total-prices-box .oval {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.brand-page {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
  font-family: IRANYekan;
}

.brand-page .brand-right-side {
  width: 230px;
}

.brand-page .brand-right-side .brand-avatar-box {
  width: 100%;
  height: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background: #f4f1f0;
}

.brand-page .brand-right-side .brand-avatar-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #f4f1f0;
}

.brand-page .brand-right-side .brand-avatar-box .brand-title {
  width: 100%;
  padding: 8px 12px;
  margin-top: -2px;
  border-radius: 10px;
  background: white;
  text-align: center;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.9);
}

.brand-page .brand-right-side .side-box {
  background: #f4f1f0;
  border-radius: 12px;
  margin-top: 10px;
}

.brand-page .brand-right-side .side-box .side-title {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.8);
}

.brand-page .brand-right-side .side-box .side-content {
  width: 100%;
  padding: 10px 15px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  font-size: .7rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.brand-page .brand-left-side {
  width: calc(100% - 240px);
}

.brand-page .brand-left-side .horiz-list {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #f4f1f0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.brand-page .brand-left-side .horiz-list .list-title {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #988c7d;
  color: white;
  font-size: .8rem;
}

.brand-page .brand-left-side .horiz-list .slick-list {
  padding-left: 50px;
  padding-right: 50px;
}

.brand-page .brand-left-side .horiz-list .list-items {
  position: relative;
  width: calc(100% - 100px);
  padding-top: 5px;
  padding-bottom: 5px;
  direction: rtl;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.brand-page .brand-left-side .horiz-list .list-items .slider-arrow {
  position: absolute;
  font-size: 18px;
  color: #f22b39;
  background: #f4f1f0;
  padding: 3px;
  border-radius: 20px;
  top: calc(50% - 12px);
  z-index: 11111;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.brand-page .brand-left-side .horiz-list .list-items .slider-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.brand-page .brand-left-side .horiz-list .list-items .slider-arrow:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.brand-page .brand-left-side .horiz-list .list-items .item {
  outline: none;
  text-align: center;
  position: relative;
  width: auto;
  margin-left: 3px;
  margin-right: 3px;
  background: white;
  border-radius: 100px;
  padding: 7px 18px;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.brand-page .brand-left-side .horiz-list .list-items .item:hover {
  background: #b2a2a2;
  color: white;
}

.brand-page .brand-left-side .horiz-list .list-items .item:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.brand-page .brand-left-side .horiz-list .list-items .item.active {
  background: #f22b39;
  color: white;
}

.brand-page .brand-left-side .products-list {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.brand-page .brand-left-side .products-list .product-item {
  margin-bottom: 10px;
  width: calc(25% - 10px);
  margin: 5px;
  background-color: white;
  border: 0.8px solid #f4f1f0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  direction: rtl;
  overflow: hidden;
  cursor: pointer;
}

.brand-page .brand-left-side .products-list .product-item .title-box {
  background: #f4f1f0;
  width: calc(100% - 10px);
  border-radius: 7px;
  min-height: 40px;
  position: absolute;
  bottom: 5px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 11111;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
}

.brand-page .brand-left-side .products-list .product-item .title-box .product-title {
  font-family: IRANYekan;
  font-size: .7rem;
  text-align: center;
  font-weight: 400;
}

.brand-page .brand-left-side .products-list .product-item .title-box .product-price {
  font-family: IRANYekan;
  font-size: .8rem;
  text-align: center;
  color: #f22b39;
  font-weight: 600;
  padding-top: 7px;
}

.brand-page .brand-left-side .products-list .product-item .add2cart {
  background: #988c7d;
  border-radius: 7px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 11;
  text-align: center;
  color: white;
  font-family: IRANYekan;
  font-size: .7rem;
  bottom: 5px;
  width: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  cursor: pointer;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.brand-page .brand-left-side .products-list .product-item .add2cart:hover {
  background: #1c1a20;
}

.brand-page .brand-left-side .products-list .product-item .add2cart:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.brand-page .brand-left-side .products-list .product-item .discount {
  border-radius: 0 0 0 20px;
  background: #f22b39;
  padding: 2px 10px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  line-height: 35px;
  font-family: IRANYekan;
  font-size: .9rem;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.7s;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.7s;
  z-index: 1111;
}

.brand-page .brand-left-side .products-list .product-item .thumb {
  position: relative;
  width: 80%;
  padding-top: calc(100% + 30px);
}

.brand-page .brand-left-side .products-list .product-item .thumb img {
  -webkit-transition: linear all .2s;
  transition: linear all .2s;
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
}

.brand-page .brand-left-side .products-list .product-item:hover .title-box {
  bottom: 50px;
}

.brand-page .brand-left-side .products-list .product-item:hover .discount {
  right: 0;
}

.brand-page .brand-left-side .products-list .product-item:hover .thumb img {
  width: calc(100% - 30px);
  top: 20px;
  right: 15px;
}

.brand-page .brand-left-side .see-more-products {
  cursor: pointer;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #988c7d;
  color: white;
  font-size: .8rem;
  margin-top: 10px;
  text-align: center;
  border-radius: 9px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.brand-page .brand-left-side .see-more-products:hover {
  background: #f22b39;
}

.brand-page .brand-left-side .see-more-products:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

@media only screen and (max-width: 1100px) {
  .brand-page .brand-left-side .products-list .product-item {
    width: calc(33% - 10px);
  }
}

@media only screen and (max-width: 900px) {
  .brand-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brand-page .brand-left-side {
    width: 100%;
  }
  .brand-page .brand-left-side .horiz-list {
    margin-top: 20px;
  }
  .brand-page .brand-left-side .products-list .product-item {
    width: calc(50% - 10px);
  }
  .brand-page .brand-right-side {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .brand-page .brand-left-side .products-list .product-item {
    width: 100%;
  }
}

.category-page {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
  font-family: IRANYekan;
}

.category-page .category-right-side {
  width: 230px;
}

.category-page .category-right-side .side-search-box {
  width: 100%;
  height: auto;
  background: #f4f1f0;
  border-radius: 12px;
  position: relative;
}

.category-page .category-right-side .side-search-box input {
  width: calc(100% - 30px);
  border-radius: 12px;
  background: inherit;
  border: 0;
  padding: 13.5px 10px;
  outline: none;
  font-family: IRANYekan;
  font-size: .75rem;
}

.category-page .category-right-side .side-search-box .side-search-icon {
  height: 100%;
  position: absolute;
  color: #988c7d;
  top: 0;
  left: 0;
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.category-page .category-right-side .side-search-box .side-search-icon:hover {
  color: #f22b39;
}

.category-page .category-right-side .side-search-box .side-search-icon:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.category-page .category-right-side .side-box {
  background: #f4f1f0;
  border-radius: 12px;
  margin-top: 10px;
}

.category-page .category-right-side .side-box .side-title {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.8);
}

.category-page .category-right-side .side-box .side-content {
  width: 100%;
  padding: 10px 15px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  font-size: .7rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.category-page .category-right-side .side-box .side-content .check-box-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #1c1a20;
  font-size: .65rem;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.category-page .category-right-side .side-box .side-content .check-box-part.active {
  color: #f22b39;
}

.category-page .category-right-side .side-box .side-content .check-box-part:hover {
  color: #f22b39;
}

.category-page .category-right-side .side-box .side-content .check-box-part .check-icon {
  padding-left: 10px;
  font-size: .8rem;
}

.category-page .category-right-side .side-box .side-content input {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
}

.category-page .category-right-side .side-box .side-content .range-slider {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
}

.category-page .category-right-side .side-box .side-content .range-slider .range-slider-box {
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.category-page .category-right-side .side-box .side-content .range-slider .range-head-box {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.category-page .category-right-side .side-box .side-content .range-slider .range-head-box .range-to-text {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #b2a2a2;
}

.category-page .category-right-side .side-box .side-content .range-slider .range-head-box input {
  width: calc(50% - 15px);
  height: 30px;
  font-size: .9rem;
  padding-top: 3px;
  color: #1c1a20;
}

.category-page .category-right-side .side-box .side-content .range-slider .range-head-box input:first-child {
  border-radius: 0 5px 5px 0;
}

.category-page .category-right-side .side-box .side-content .range-slider .range-head-box input:last-child {
  border-radius: 5px 0 0 5px;
}

.category-page .category-right-side .side-box .side-content .range-slider svg,
.category-page .category-right-side .side-box .side-content .range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

.category-page .category-right-side .side-box .side-content input[type=number] {
  border: 0;
  background: white;
  text-align: center;
  font-family: IRANYekan;
  font-size: 1rem;
  -moz-appearance: textfield;
}

.category-page .category-right-side .side-box .side-content input[type=number]::-webkit-outer-spin-button,
.category-page .category-right-side .side-box .side-content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.category-page .category-right-side .side-box .side-content input[type=number]:invalid,
.category-page .category-right-side .side-box .side-content input[type=number]:out-of-range {
  border: 2px solid #ff6347;
}

.category-page .category-right-side .side-box .side-content input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

.category-page .category-right-side .side-box .side-content input[type=range]:focus {
  outline: none;
}

.category-page .category-right-side .side-box .side-content input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b2a2a2;
}

.category-page .category-right-side .side-box .side-content input[type=range]:focus::-ms-fill-lower {
  background: #b2a2a2;
}

.category-page .category-right-side .side-box .side-content input[type=range]:focus::-ms-fill-upper {
  background: #b2a2a2;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #988c7d;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 0px 0px 0px #000;
          box-shadow: 0px 0px 0px #000;
  border: 1px solid #f22b39;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-ms-fill-lower,
.category-page .category-right-side .side-box .side-content input[type=range]::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.category-page .category-right-side .side-box .side-content input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

.category-page .category-right-side .single-check-box {
  width: 100%;
  border-radius: 12px;
  background: #f4f1f0;
  padding: 15px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  cursor: pointer;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.category-page .category-right-side .single-check-box:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.category-page .category-right-side .single-check-box .left-icon {
  color: #b2a2a2;
  font-size: .7rem;
  text-align: left;
}

.category-page .category-right-side .single-check-box .check-box-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #1c1a20;
  font-size: .7rem;
}

.category-page .category-right-side .single-check-box .check-box-part .check-icon {
  padding-left: 10px;
  font-size: .8rem;
}

.category-page .category-left-side {
  width: calc(100% - 240px);
}

.category-page .category-left-side .horiz-list {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #f4f1f0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.category-page .category-left-side .horiz-list .list-title {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #988c7d;
  color: white;
  font-size: .8rem;
}

.category-page .category-left-side .horiz-list .list-items {
  position: relative;
  width: calc(100% - 40px);
  padding: 5px;
  direction: rtl;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.category-page .category-left-side .horiz-list .list-items .item {
  display: inline-block;
  outline: none;
  text-align: center;
  position: relative;
  width: auto;
  margin-right: 3px;
  background: white;
  border-radius: 100px;
  padding: 7px 18px;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.category-page .category-left-side .horiz-list .list-items .item:hover {
  background: #b2a2a2;
  color: white;
}

.category-page .category-left-side .horiz-list .list-items .item:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.category-page .category-left-side .horiz-list .list-items .item.active {
  background: #f22b39;
  color: white;
}

.category-page .category-left-side .products-list {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.category-page .category-left-side .products-list .product-item {
  margin-bottom: 10px;
  width: calc(25% - 10px);
  margin: 5px;
  background-color: white;
  border: 0.8px solid #f4f1f0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  direction: rtl;
  overflow: hidden;
  cursor: pointer;
}

.category-page .category-left-side .products-list .product-item .title-box {
  background: #f4f1f0;
  width: calc(100% - 10px);
  border-radius: 7px;
  min-height: 40px;
  position: absolute;
  bottom: 5px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 11111;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
}

.category-page .category-left-side .products-list .product-item .title-box .product-title {
  font-family: IRANYekan;
  font-size: .7rem;
  text-align: center;
  font-weight: 400;
}

.category-page .category-left-side .products-list .product-item .title-box .product-price {
  font-family: IRANYekan;
  font-size: .8rem;
  text-align: center;
  color: #f22b39;
  font-weight: 600;
  padding-top: 7px;
}

.category-page .category-left-side .products-list .product-item .add2cart {
  background: #988c7d;
  border-radius: 7px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 11;
  text-align: center;
  color: white;
  font-family: IRANYekan;
  font-size: .7rem;
  bottom: 5px;
  width: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  cursor: pointer;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.category-page .category-left-side .products-list .product-item .add2cart:hover {
  background: #1c1a20;
}

.category-page .category-left-side .products-list .product-item .add2cart:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.category-page .category-left-side .products-list .product-item .discount {
  border-radius: 0 0 0 20px;
  background: #f22b39;
  padding: 2px 10px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  line-height: 35px;
  font-family: IRANYekan;
  font-size: .9rem;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.7s;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.7s;
  z-index: 1111;
}

.category-page .category-left-side .products-list .product-item .thumb {
  position: relative;
  width: 80%;
  padding-top: calc(100% + 30px);
}

.category-page .category-left-side .products-list .product-item .thumb img {
  -webkit-transition: linear all .2s;
  transition: linear all .2s;
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
}

.category-page .category-left-side .products-list .product-item:hover .title-box {
  bottom: 50px;
}

.category-page .category-left-side .products-list .product-item:hover .discount {
  right: 0;
}

.category-page .category-left-side .products-list .product-item:hover .thumb img {
  width: calc(100% - 30px);
  top: 20px;
  right: 15px;
}

.category-page .category-left-side .see-more-products {
  cursor: pointer;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #988c7d;
  color: white;
  font-size: .8rem;
  margin-top: 10px;
  text-align: center;
  border-radius: 9px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.category-page .category-left-side .see-more-products:hover {
  background: #f22b39;
}

.category-page .category-left-side .see-more-products:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.user-dashboard {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  direction: rtl;
  font-family: IRANYekan;
}

.user-dashboard .user-menu {
  width: 260px;
  min-height: calc(100vh - 300px);
}

.user-dashboard .user-menu .avatar-box {
  width: 100%;
  background: #f4f1f0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  border-radius: 12px;
}

.user-dashboard .user-menu .avatar-box .avatar-image-box {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 30px;
  background: white;
}

.user-dashboard .user-menu .avatar-box .avatar-image-box img {
  width: 100%;
}

.user-dashboard .user-menu .avatar-box .user-full-name {
  font-size: .75rem;
  padding-right: 10px;
  color: #1c1a20;
}

.user-dashboard .user-menu .menu-box {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: #f4f1f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-dashboard .user-menu .menu-box a {
  cursor: pointer;
  list-style: none;
  width: 100%;
  border-radius: 9px;
  background: white;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #1c1a20;
  margin-bottom: 8px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.user-dashboard .user-menu .menu-box a:last-child {
  margin-bottom: 0;
}

.user-dashboard .user-menu .menu-box a span {
  font-size: .7rem;
}

.user-dashboard .user-menu .menu-box a i {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.user-dashboard .user-menu .menu-box a:hover {
  background: #988c7d;
  color: white;
}

.user-dashboard .user-menu .menu-box a:hover i {
  color: white;
}

.user-dashboard .user-menu .menu-box a.active {
  border: 1px solid #1c1a20;
  background: #988c7d;
  color: white;
}

.user-dashboard .user-menu .menu-box a.active i {
  color: white;
}

.user-dashboard .user-menu .full-with-item {
  cursor: pointer;
  list-style: none;
  width: 100%;
  border-radius: 9px;
  background: #f4f1f0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #1c1a20;
  margin-top: 8px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.user-dashboard .user-menu .full-with-item span {
  font-size: .7rem;
}

.user-dashboard .user-menu .full-with-item i {
  font-size: 1rem;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.user-dashboard .user-menu .full-with-item:hover {
  background: #988c7d;
  color: white;
}

.user-dashboard .user-menu .full-with-item:hover i {
  color: white;
}

.user-dashboard .user-menu .full-with-item.active {
  border: 1px solid #1c1a20;
  background: #988c7d;
  color: white;
}

.user-dashboard .user-menu .full-with-item.active i {
  color: white;
}

.user-dashboard .dashboard-container {
  width: calc(100% - 270px);
}

.user-dashboard .dashboard-container .action-button {
  width: 100%;
  padding: 10px;
  background: #988c7d;
  margin-top: 10px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  cursor: pointer;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.user-dashboard .dashboard-container .action-button .action-title {
  font-size: .9rem;
  padding-right: 5px;
}

.user-dashboard .dashboard-container .action-button i {
  font-size: .9rem;
  padding-left: 5px;
}

.user-dashboard .dashboard-container .action-button:hover {
  background: #f22b39;
}

.user-dashboard .dashboard-container .action-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.user-dashboard .dashboard-container .see-more {
  cursor: pointer;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #988c7d;
  color: white;
  font-size: .8rem;
  margin-top: 10px;
  text-align: center;
  border-radius: 9px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.user-dashboard .dashboard-container .see-more:hover {
  background: #f22b39;
}

.user-dashboard .dashboard-container .see-more:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.user-dashboard .dashboard-container .dashboard-box {
  width: 100%;
  background: #f4f1f0;
  border-radius: 12px;
  overflow-x: auto;
}

.user-dashboard .dashboard-container .dashboard-box .title-box {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.user-dashboard .dashboard-container .dashboard-box .title-box .inner-title span {
  font-size: .8rem;
}

.user-dashboard .dashboard-container .dashboard-box .title-box .inner-title i {
  font-size: .6rem;
  padding-right: 5px;
  padding-left: 5px;
}

.user-dashboard .dashboard-container .dashboard-box .title-box .total-price {
  font-family: IRANYekan;
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
}

.user-dashboard .dashboard-container .dashboard-box .title-box.is-head {
  border-bottom: 1px solid white;
}

.user-dashboard .dashboard-container .dashboard-box .title-box .head-btn {
  background: white;
  color: #1c1a20;
  font-size: .7rem;
  padding: 10px 15px;
  border-radius: 100px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.user-dashboard .dashboard-container .dashboard-box .title-box .head-btn:hover {
  color: white;
  background: #1c1a20;
}

.user-dashboard .dashboard-container .dashboard-box .title-box .head-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.user-dashboard .dashboard-container .dashboard-box table {
  width: 100%;
  direction: rtl;
  text-align: right;
  font-size: .75rem;
  border-spacing: unset;
  white-space: nowrap;
  overflow-x: auto;
}

.user-dashboard .dashboard-container .dashboard-box table tr th {
  color: #f22b39;
  text-align: center;
  border-top: 1px solid white;
  padding: 15px;
}

.user-dashboard .dashboard-container .dashboard-box table tr th:last-child {
  width: 1%;
}

.user-dashboard .dashboard-container .dashboard-box table tr td {
  text-align: center;
  border-top: 1px solid white;
  padding: 15px;
}

.user-dashboard .dashboard-container .dashboard-box table tr td.green {
  color: green;
}

.user-dashboard .dashboard-container .dashboard-box table tr td.orange {
  color: orange;
}

.user-dashboard .dashboard-container .dashboard-box table tr td.red {
  color: red;
}

.user-dashboard .dashboard-container .dashboard-box table tr td i {
  cursor: pointer;
  color: #b2a2a2;
  padding-left: 5px;
  padding-right: 5px;
}

.user-dashboard .dashboard-container .dashboard-box table tr td i:hover {
  color: #1c1a20;
}

.user-dashboard .dashboard-container .dashboard-box table tr td:first-child {
  font-weight: bold;
}

.user-dashboard .dashboard-container .dashboard-box table tr td:last-child {
  width: 1%;
}

.user-dashboard .dashboard-container .dashboard-box table tr td:last-child i:hover {
  color: #f22b39;
}

.user-info-form {
  width: 100%;
  height: auto;
  font-family: IRANYekan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
}

.user-info-form button {
  outline: none;
  border: 0;
}

.user-info-form .input-box, .user-info-form p {
  width: calc(50% - 10px);
  margin: 4px;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.user-info-form .input-box label, .user-info-form p label {
  width: 100%;
  font-size: .8rem;
  padding-top: 10px;
  padding-right: 10px;
}

.user-info-form .input-box input, .user-info-form .input-box textarea, .user-info-form .input-box select, .user-info-form p input, .user-info-form p textarea, .user-info-form p select {
  margin-top: 6px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: IRANYekan;
  border: 1px solid #b2a2a2;
  border-radius: 8px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  outline: none;
  font-size: .8rem;
  resize: vertical;
}

.user-info-form .input-box input:focus, .user-info-form .input-box textarea:focus, .user-info-form .input-box select:focus, .user-info-form p input:focus, .user-info-form p textarea:focus, .user-info-form p select:focus {
  border: 1px solid #f22b39;
}

.user-info-form .input-box input.ltr, .user-info-form .input-box textarea.ltr, .user-info-form .input-box select.ltr, .user-info-form p input.ltr, .user-info-form p textarea.ltr, .user-info-form p select.ltr {
  text-align: left;
  direction: ltr;
}

.user-info-form .input-box textarea, .user-info-form p textarea {
  min-height: 70px;
}

.user-info-form .input-box select, .user-info-form p select {
  height: 40px;
}

@media only screen and (max-width: 700px) {
  .user-info-form .input-box {
    width: 100%;
  }
}

.time-selection-form {
  width: 100%;
  height: auto;
}

.time-selection-form button {
  border: 0;
  outline: 0;
  font-family: IRANYekan;
}

.time-selection-form .time-option {
  width: 100%;
  position: relative;
}

.time-selection-form .time-option input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.time-selection-form .time-option input[type="radio"] + .radio-label {
  display: block;
  width: 100%;
  border-radius: 12px;
  background: #f4f1f0;
  padding: 10px;
  margin-top: 7px;
  font-size: .8rem;
  cursor: pointer;
  border: 1px solid #f4f1f0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.time-selection-form .time-option input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f1f0;
  border-radius: 100%;
  border: 1px solid #b2a2a2;
  float: right;
  width: 1.3em;
  height: 1.3em;
  position: relative;
  top: 0;
  margin-left: .9em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.time-selection-form .time-option input[type="radio"]:checked + .radio-label {
  border: 1px solid #f22b39;
}

.time-selection-form .time-option input[type="radio"]:checked + .radio-label:before {
  background-color: #f4f1f0;
  -webkit-box-shadow: inset 0 0 0 4px #f22b39;
          box-shadow: inset 0 0 0 4px #f22b39;
  border: 1px solid #f22b39;
}

.time-selection-form .time-option input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #f4f1f0;
}

.time-selection-form .time-option input[type="radio"]:disabled + .radio-label:before {
  -webkit-box-shadow: inset 0 0 0 4px #f22b39;
          box-shadow: inset 0 0 0 4px #f22b39;
  border-color: #940913;
  background: #940913;
}

.time-selection-form .time-option input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.time-selection-form .payment-ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.time-selection-form .payment-ways .time-option {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: inline-block;
}

.time-selection-form .payment-ways .time-option:first-child {
  margin-left: 5px;
}

.payment-result {
  width: 100%;
  text-align: center;
}

.payment-result .result-title {
  font-size: 1rem;
  color: #f22b39;
  font-weight: bold;
  padding-top: 25px;
}

.payment-result hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: white;
  margin-top: 20px;
}

.payment-result .result-desc {
  padding-top: 15px;
  font-size: .8rem;
  color: #b2a2a2;
}

.payment-result .result-code-title {
  padding-top: 15px;
  font-size: 1rem;
  color: #1c1a20;
}

.payment-result .result-code {
  font-size: 1.2rem;
  color: #f22b39;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 20px;
}

.auth-box {
  width: 400px;
  border: 1px solid #b2a2a2;
  background: #f4f1f0;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.auth-box .auth-title {
  width: 100%;
  border-bottom: 1px solid #b2a2a2;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: IRANYekan;
  font-size: 1rem;
  font-weight: bold;
  color: #1c1a20;
}

.auth-box form {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: IRANYekan;
}

.auth-box form .submit-btn {
  cursor: pointer;
  font-family: IRANYekan;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #988c7d;
  color: white;
  font-size: .9rem;
  border: 0;
  outline: 0;
  margin-top: 10px;
  text-align: center;
  border-radius: 9px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.auth-box form .submit-btn:hover {
  background: #f22b39;
}

.auth-box form .submit-btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.auth-box .input-box, .auth-box p {
  width: 100%;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-bottom: 10px;
}

.auth-box .input-box label, .auth-box p label {
  width: 100%;
  font-size: .9rem;
  padding-top: 10px;
  padding-right: 10px;
}

.auth-box .input-box input, .auth-box .input-box textarea, .auth-box .input-box select, .auth-box p input, .auth-box p textarea, .auth-box p select {
  margin-top: 6px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: IRANYekan;
  border: 1px solid #b2a2a2;
  border-radius: 8px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  outline: none;
  font-size: .9rem;
  resize: vertical;
}

.auth-box .input-box input:focus, .auth-box .input-box textarea:focus, .auth-box .input-box select:focus, .auth-box p input:focus, .auth-box p textarea:focus, .auth-box p select:focus {
  border: 1px solid #f22b39;
}

.auth-box .input-box input.ltr, .auth-box .input-box textarea.ltr, .auth-box .input-box select.ltr, .auth-box p input.ltr, .auth-box p textarea.ltr, .auth-box p select.ltr {
  text-align: left;
  direction: ltr;
}

.auth-box .auth-svg {
  width: 25%;
  margin: 30px;
}

.auth-box .alert-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 7px;
  border-radius: 7px;
  text-align: right;
  border: 1px solid #f22b39;
  color: #f22b39;
  font-size: .7rem;
  font-family: IRANYekan;
  background: rgba(242, 43, 57, 0.1);
}

.auth-more-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 400px;
  direction: rtl;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1c1a20;
  font-size: .9rem;
  font-family: IRANYekan;
}

.auth-more-box a {
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.auth-more-box a:hover {
  color: #f22b39;
}
/*# sourceMappingURL=styles.css.map */